/* AboutUsPage.css */

/* Resetting default margins and paddings */
body, h1, p {
    margin: 0;
    padding: 0;
  }
  
  /* The main container styling */
  .about-us-page {
    font-family: 'Arial', sans-serif;
  }
  
  /* Background section styling */
  .about-us-background {
    background-image: url('/background_img.jpg');
    background-size: cover;
    padding: 50px;
    color: white;
  }
  
  /* Introductory text styling */
  .about-us-background h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
  }
  
  .about-us-background p {
    font-size: 1.2em;
    margin-bottom: 1em;
  }
  
  /* Main content section styling */
  .about-us-content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    gap: 20px;
    padding: 50px;
  }
  
  .about-us-content img {
    width: 100%;
    border-radius: 10px;
  }
  
  .about-us-content div {
    padding: 20px;
    background-color: #f8f8f8; /* Light background for readability */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Paragraph text styling */
  .about-us-content p {
    font-size: 1em;
    color: #333;
    line-height: 1.6;
    margin-bottom: 1em;
  }
  
  /* Responsive Design Adjustments */
  @media screen and (max-width: 768px) {
    .about-us-content {
      grid-template-columns: 1fr;
    }
  }
  